.Article {
  width: 15%;
  height: 5%;
  margin: 1%;
  border-radius: 5%;
  display: flex;
  padding: 1%;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  border-style: groove;
  border-color: rgb(8, 243, 0);
}

#light .Article {
  background-color: rgb(212, 212, 212);
}

#dark .Article {
  background-color: rgb(88, 88, 88);
}

.Image {
  background-color: rgb(56, 56, 56);
  border-radius: 5px;
  padding: 5px;

  max-height: 150px;
  max-width: 200px;
}

.DeleteButton {
  background-color: #af4c4c; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.DeleteButton:hover {
  background-color: #8e3e3e;
}

.DeleteButton:active {
  background-color: #8e3e3e;
  box-shadow: 0 5px rgb(63, 30, 30);
  transform: translateY(4px);
}
