.ArticleForm {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 1%;
  padding-bottom: 1%;
  flex-direction: column;
  width: auto;
  color: aliceblue;

  text-align: center;
  padding-bottom: 1%;

  border-color: rgb(39, 87, 0);
  border-style: groove;
}

#light .ArticleForm {
  background-color: rgb(160, 160, 160);
}

#dark .ArticleForm {
  background-color: rgb(88, 88, 88);
}
