.Body {
  width: 100%;
  height: 100%;
  align-items: center;
  margin: auto;
  background-color: antiquewhite;
  color: black;
}

#light .Body {
  background-color: antiquewhite;
  color: black;
}

#dark .Body {
  background-color: rgb(34, 34, 34);
  color: antiquewhite;
}
