.Body {
  width: 100%;
  min-height: 80vh;

  align-items: center;
  background-color: antiquewhite;
  color: black;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}

#light .Body {
  background-color: antiquewhite;
  color: black;
}

#dark .Body {
  background-color: rgb(34, 34, 34);
  color: antiquewhite;
}
