.ArticleDetail {
  width: 50%;
  height: 40%;
  margin: 1%;
  border-radius: 5%;
  display: flex;
  padding: auto;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#light .ArticleDetail {
  background-color: rgb(212, 212, 212);
}

#dark .ArticleDetail {
  background-color: rgb(54, 54, 54);
}
